name: Push Build to Artifactory 

on: [push]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout Code 
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Set up JFrog CLI
        id: setup-jfrog-cli
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: https://migration1.jfrog.io
        with:
          oidc-provider-name: github-test
          oidc-audience: my-aud
          disable-auto-build-publish: false

      - name: Maven Build and Install
        env:
          # This variable tells the JFrog CLI tool which Maven to use
          JF_MVN_PATH: ./mvnw
        run: |
          # 1. Ensure the wrapper is executable
          chmod +x mvnw
          
          # 2. Configure the project for Artifactory
          jf mvnc --repo-resolve-releases test-libs-release \
                  --repo-resolve-snapshots test-libs-snapshot \
                  --repo-deploy-releases test-libs-release \
                  --repo-deploy-snapshots test-libs-snapshot
          
          # 3. Run the build. 
          # The JFrog CLI will automatically use the path in JF_MVN_PATH.
          jf mvn clean install -U -ntp -B
