name: Push Build to Artifactory 

on: [push]
permissions:
  id-token: write  # Required for OIDC
  contents: read   # Required for actions/checkout

jobs:
 build:
   runs-on: ubuntu-latest
  
   steps:
   - name: Checkout Code 
     uses: actions/checkout@v4

   - name: Set up JDK
     uses: actions/setup-java@v4
     with:
       java-version: '21'
       distribution: 'temurin'

   - name: Set up JFrog CLI
     id: setup-jfrog-cli
     uses: jfrog/setup-jfrog-cli@v4
     env:
       JF_URL: https://migration1.jfrog.io
     with:
       oidc-provider-name: github-test
       oidc-audience: my-aud
       disable-auto-build-publish: false

   - name: Maven Build and Deploy
     env:
       JF_MVN_PATH: ./mvnw  # Forces the JFrog CLI to use your wrapper
     run: |
       chmod +x mvnw
       jf mvnc --repo-resolve-releases test-libs-release \
               --repo-resolve-snapshots test-libs-snapshot \
               --repo-deploy-releases test-libs-release \
               --repo-deploy-snapshots test-libs-snapshot
       
       # Now run without the invalid --mvn flag
       jf mvn clean deploy -Dmaven.deploy.skip=true -U -ntp -B
