name: Push Build to Artifactory 

on: [push]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout Code 
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Set up JFrog CLI
        id: setup-jfrog-cli
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: https://migration1.jfrog.io
        with:
          oidc-provider-name: github-test
          oidc-audience: my-aud
          disable-auto-build-publish: false

      - name: Maven Build and Install
        run: |
          # 1. Make the wrapper executable
          chmod +x mvnw
          
          # 2. Tell JFrog CLI specifically to use the wrapper for all mvn commands
          #jf config set maven-path ./mvnw
          
          # 3. Configure the project
          jf mvnc --repo-resolve-releases test-libs-release \
                  --repo-resolve-snapshots test-libs-snapshot \
                  --repo-deploy-releases test-libs-release \
                  --repo-deploy-snapshots test-libs-snapshot
          
          # 4. Run the build (The CLI now knows to use ./mvnw automatically)
          jf mvn clean install -U -ntp -B
