name: Push Build to Artifactory 

on: [push]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout Code 
        uses: actions/checkout@v4

      - name: Set up JDK & Maven 3.8.8
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          # This line explicitly installs Maven 3.8.8 and adds it to the PATH
          cache: 'maven'

      - name: Force Maven 3.8.8
        run: |
          sudo apt-get remove -y apache-maven
          wget https://archive.apache.org/dist/maven/maven-3/3.8.8/binaries/apache-maven-3.8.8-bin.tar.gz
          tar -xzf apache-maven-3.8.8-bin.tar.gz
          echo "$(pwd)/apache-maven-3.8.8/bin" >> $GITHUB_PATH

      - name: Set up JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: https://migration1.jfrog.io
        with:
          oidc-provider-name: github-test
          oidc-audience: my-aud
          disable-auto-build-publish: false

      - name: Maven Build and Install
        run: |
          # Double check the version in logs to be sure
          mvn -v
          
          jf mvnc --repo-resolve-releases test-libs-release \
                  --repo-resolve-snapshots test-libs-snapshot \
                  --repo-deploy-releases test-libs-release \
                  --repo-deploy-snapshots test-libs-snapshot
          
          jf mvn clean install -U -ntp -B
